<div class="container">
  <h1>Enrol Student</h1>
  <form method="post" action="/candies">
    <input type="text" name="student[firstName]" placeholder="First Name">
    <input type="text" name="student[lastName]" placeholder="Surname">
    <input type="text" name="student[age]" placeholder="Current Age">
    <input type="text" name="student[quote]" placeholder="Enter your fav quote">
    <input type="submit"class="btn" value="create">
  </form>
</div>